# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.coverage
htmlcov/

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Docker / build da imagem
clima-api.tar
clima-api-optimized.tar
clima-api-v1.tar
clima-api-v1.tar.gz
temperaturas-curitiba.svg

# Arquivos temporários / locais
active:unknown

# IDEs
.vscode/
.idea/
*.swp
*~

# Sistemas de arquivos
.DS_Store
Thumbs.db
